# Virtual environment - never upload this
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

sleep_assistant_flutter/android/app/google-services.json
sleep_assistant_flutter/lib/firebase_options.dart
sleep_assistant_flutter/.dart_tool/
sleep_assistant_flutter/build/
# Local data files - private user data
data/

# Firebase secret key - NEVER upload this
google-services.json
serviceAccountKey.json
firebase_config.py

# VS Code settings
.vscode/

# Model file - too large for GitHub
models/*.pkl

# OS files
.DS_Store
Thumbs.db